---
import Layout from '../layouts/Layout.astro';
import Badge from "../components/Badge.astro"
---

<Layout title="Welcome to Astro.">
	<main>
		<section class="w-full lg:w-[740px] mx-auto my-44 text-white">
			<h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-4">
				Hey, soy Raúl Armas 
				<a 
					class="flex justify-center items-center" 
					href="https://www.linkedin.com/in/raul-armas-santiago-b1534bb2" 
					target="_blank"
					rel="noopener"
				>
					<Badge>Disponible para trabajar</Badge></a>
			</h1>

			<h2 class="text-xl">
				Desarrollador de sooftware 4 años de experiencia en diferentes tecnologias, pero enfocado pricnipalmente en el sesarrollo Frontend
			</h2>
		</section>
		
	</main>
</Layout>

