<header class="flex justify-between items-center py-3 w-[1120px] mx-auto">
    <img 
        class="rounded-full w-12 h-12" 
        src="https://media.licdn.com/dms/image/C5603AQGuJ-JQTt_XgQ/profile-displayphoto-shrink_400_400/0/1661267867859?e=2147483647&v=beta&t=VFf8ly24yOAnQC6lY_wGc_mix21uX4RS0hz4yi1Grhc"
        alt="RaulASDev"
    />

    <nav class="flex flex-row gap-x-10 text-white opacity-80">
        <a href="/">Inicio</a>
        <a href="/about">Sobre mi</a>
        <a href="/projects">Proyectos</a>
        <a href="/contact">Contacto</a>
    </nav>
</header>